<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="header-image" src="{{pokemonImg}}" />
    <mat-card-title>{{ pokemon.name }}</mat-card-title>
    <mat-card-subtitle>Id {{ pokemon.id }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{ pokemonImg }}" alt="pokemon" />

  <mat-card-content>
    <mat-chip-list aria-label="Fish-selection">
      <mat-chip color="primary" selected="primary">Type: {{pokemonType}}</mat-chip>
      <mat-chip color="primary" selected="primary">Height: {{pokemon.height}}</mat-chip>
      <mat-chip color="primary" selected="primary">Weight: {{pokemon.weight}}</mat-chip>
      <mat-chip color="primary" selected="primary" (click)="back()">Volta Para Lista</mat-chip>

    </mat-chip-list>
  </mat-card-content>
</mat-card>
